### Sales Table

##### Import Packages

In [64]:
import pandas as pd
import numpy as np
import csv
import random
from faker import Faker

In [68]:
# Mention the number of rows
num_rows = int(input("Enter the number of row the CSV file should have: "))

# generate series of dates
date_series = np.arange(np.datetime64('2010-01-01'),np.datetime64('2025-05-01'))
random_dates = np.random.choice(date_series, size=num_rows)

formatted_row = pd.to_datetime(random_dates).strftime('%Y%m%d')

data = {
    "Customer_ID" : np.random.randint(1,1001,size=num_rows),
    "Store_ID" : np.random.randint(1,101,size=num_rows),
    "Order_Date_ID" : formatted_row,
    "Product_ID" : np.random.randint(1,1001,size=num_rows),
    "Quantity_Ordered" : np.random.randint(1,21,size=num_rows),
    "Order_Amount" : np.random.randint(100,1001,size=num_rows)  
}

sales_df = pd.DataFrame(data)

# creating percentage columns
discount_percent = np.random.uniform(0.02, 0.15, size = num_rows)
shipping_percent = np.random.uniform(0.05, 0.15, size = num_rows)

# Including percentage and total columns in sales table
sales_df['Discount_Amount'] = round(sales_df["Order_Amount"] * discount_percent,2)
sales_df['Shipping_Cost'] = round(sales_df["Order_Amount"] * shipping_percent,2)
sales_df['Total_Amount'] = sales_df["Order_Amount"] - (sales_df['Discount_Amount'] + sales_df['Shipping_Cost'])

sales_df.to_csv("Fact_Orders_Table.csv",index=False)

# Print Success
print("File created successfully")
sales_df

Enter the number of row the CSV file should have:  10000

File created successfully

,Customer_ID,Store_ID,Order_Date_ID,Product_ID,Quantity_Ordered,Order_Amount,Discount_Amount,Shipping_Cost,Total_Amount
0,524,33,20110619,663,1,277,6.19,22.49,248.32
1,397,30,20130710,950,18,117,7.81,13.78,95.41
2,131,80,20240705,751,7,263,36.58,35.63,190.79
3,344,96,20140525,871,2,329,46.07,44.07,238.86
4,867,56,20110715,665,19,357,29.31,36.55,291.14
...,...,...,...,...,...,...,...,...,...
9995,987,22,20140131,915,20,849,20.20,123.07,705.73
9996,166,43,20100425,929,16,826,53.63,66.61,705.76
9997,699,8,20130811,641,2,901,44.05,72.58,784.37
9998,133,25,20250418,798,2,988,146.84,60.71,780.45
9999,141,23,20120219,119,15,342,38.18,25.78,278.04